@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

/* Global font */
* {
  font-family: "Outfit", sans-serif;
}

/* Theme variables */
@theme {
  --color-primary: #0f766e;        /* Teal main brand */
  --color-secondary: #14b8a6;      /* Soft teal */
  --color-accent: #22c55e;         /* Success green */

  --color-text-primary: #0f172a;   /* Dark slate */
  --color-text-secondary: #475569; /* Muted slate */

  --color-bg-main: #f7faf9;        /* Soft background */
  --color-card: #ffffff;           /* Cards */
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
