@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

/* Global font */
* {
  font-family: "Outfit", sans-serif;
}

/* Theme variables */
@theme {
  --color-primary: #0f766e;        /* Teal main brand */
  --color-secondary: #14b8a6;      /* Soft teal */
  --color-accent: #22c55e;         /* Success green */

  --color-text-primary: #0f172a;   /* Dark slate */
  --color-text-secondary: #475569; /* Muted slate */

  --color-bg-main: #f7faf9;        /* Soft background */
  --color-card: #ffffff;           /* Cards */
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
@layer components {
  .btn {
    @apply flex items-center gap-2 px-5 py-3 rounded-xl
           border-1 border-gray-700
           bg-gray-100 text-gray-800 font-semibold
           transition-all duration-300 ease-in-out
           hover:bg-orange-500 hover:text-white hover:border-orange-500;
  }
}

/* Hide buttons while printing */
/* ===== PRINT SETTINGS ===== */

@media print {

  body {
    margin: 0;
    padding: 0;
  }

  /* Hide buttons */
  .no-print {
    display: none !important;
  }

  /* A4 SIZE FIX */
  .a4 {
    width: 845px !important;   /* ✅ A4 width */
    margin: 0 auto;
  }

  /* Ensure proper scaling */
  .print-area {
    zoom: 0.95;   /* adjust 0.9–1 if needed */
  }

  /* Page break fix */
  .page-break {
    page-break-before: always;
  }

  /* Avoid cutting components */
  .card, .chart, .section {
    page-break-inside: avoid;
  }
  
  .department-text {
    text-align: left !important;
  }
}


